:root {
    box-sizing: border-box;
    --grid-cols: 1;
    --grid-rows: 1;
    --background-color: '#ffffff';
    --grid-item-color: '#ffffff'
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
    font-size: 16px;
}

body{    
    background-color: #2d34361c;
    margin:0;
}

body *+* {
    margin-top: 1em;
}


.title-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 1.5em;
    font-size: 4em;
    text-align: center;
    margin: 0 auto;
    background-color: #74cab8 ;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5em auto;
    gap: 0.5em;
    max-width: 1080px;
}

.settings-panel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5em;
    height: 600px;
    padding: 1em;
    background-color: #74cab8;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: fit-content;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

#slider {
    margin: 0;
    height: 2em;
}

#slider:hover{
    opacity: 0.5;
}

.label,
#slider,
.palette,
.btn {
    height: 1.5em;
    width: auto;
    margin-top: 1em;
}



.btn{
    background-color: transparent;
    border: 0.1875em solid black;
    padding: 1em;
    height: auto;
}

.btn:hover{
    opacity: .5;
}

.grid-container {
    justify-self: center;
    display: grid;
    border: 2px solid black;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: var(--background-color);
    padding: 0;
    gap: 0;
    margin: 0;
    width: 600px;
    height: 600px;
}

.grid-item {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

.active-grid-item {
    background-color: var(--grid-item-color);
    margin: 0;
    padding: 0;
    border: 0;
}